---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tailwind examples">
  <h1>Styling with Tailwindcss</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 intro gap-2">
    <p class="prose">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit
      porro quidem voluptates dolorum perferendis harum ut eaque officia?
      Consequuntur unde, necessitatibus odit autem iure eum excepturi fugiat
      laudantium tenetur!
    </p>
    <p class="prose">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit
      porro quidem voluptates dolorum perferendis harum ut eaque officia?
      Consequuntur unde, necessitatibus odit autem iure eum excepturi fugiat
      laudantium tenetur!
    </p>
    <p class="prose">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit
      porro quidem voluptates dolorum perferendis harum ut eaque officia?
      Consequuntur unde, necessitatibus odit autem iure eum excepturi fugiat
      laudantium tenetur!
    </p>
  </div>
</Layout>
